@use '@shared/style/main.scss' as shared;

.clicker-page {
  min-height: 100vh;
  max-width: 45rem;
  margin: auto;
  padding: 16px 16px 32px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  box-sizing: border-box;
}

/* ---------- content ---------- */

.clicker-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clicker-score {
  font-size: shared.$font-size-4xl;
  font-weight: shared.$font-weight-semibold;
  color: shared.$color-neutral-100;
  margin-bottom: 3.5rem;
}

.clicker-circle-wrapper {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background: shared.$color-neutral-700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 6px rgba(152, 152, 152, 0.25) inset, 0 4px 25px 0 rgba(255, 255, 255, 0.25);
}

.clicker-circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: shared.$color-neutral-800;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clicker-circle--disabled {
  cursor: default;
  opacity: 0.6;
  box-shadow: none;
}

.clicker-circle:active:not(.clicker-circle--disabled) {
  transform: scale(0.96);
  box-shadow: 0 0 30px rgba(59, 130, 246, 0.6);
}

/* псевдо-логотип (заглушка) */

.clicker-circle__logo {
  position: relative;
  width: 8rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clicker-circle__logo::before,
.clicker-circle__logo::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 18px;
  border-radius: 999px;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
}

.clicker-circle__logo::after {
  background: #2563eb;
  transform: translateX(-15%);
}

/* ---------- bottom button ---------- */

.clicker-start-btn {
  width: 100%;
  height: 56px;
  border-radius: 999px;
}
