@use '@shared/style/main.scss' as shared;

:root {
  background-color: #040718;
}

html {
  overflow-y: auto;          /* прокрутка разрешена */
  -ms-overflow-style: none;  /* IE/старый Edge */
  scrollbar-width: none;     /* Firefox */
}
html::-webkit-scrollbar {
  display: none;             /* Chrome/Edge/Safari */
}

* {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}

body {
  font-family: 'Onest', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html, body, #app {
  height: 100vh;
  font-family: Onest, serif;
}

body {
  margin: 0;
  color: shared.$color-text-primary;
  background: radial-gradient(80% 60% at 50% 0%, rgba(0,81,255,0.18) 0%, transparent 60%) #040718;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}