// ==========================================
// BREAKPOINTS
// ==========================================

$breakpoint-mobile: 40em;
$breakpoint-tablet: 48em;
$breakpoint-laptop: 64em;
$breakpoint-desktop: 80em;
$breakpoint-wide: 90em;